.navbar__ul{
    list-style-type: none;
    text-align: right;
    margin-top: 35px;
    margin-right: 25px;
    font-size: 22px;
   
}

.navbar__item {
    font-weight: bold;
    display: inline;
    padding: 10px;
    cursor: pointer;
}